.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.no-border-radius {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-justify {
  text-align: justify;
}
.text-line-through {
  text-decoration: line-through;
}
.box-heading {
  font-weight: bold;
  font-family: 'Oswald';
  margin-bottom: 15px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #999;
  background-color: #ebebeb;
  height: 100%;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #dc6767;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #dc6767;
  text-decoration: none;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #f0f2f5;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  border-color: #e5e5e5;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.require {
  color: #ff0000;
}
#wrapper {
  width: 100%;
  min-height: 100%;
  background-color: #3C3C3C;
}
#page-wrapper {
  min-height: 100%;
  padding: 0 !important;
  background-color: #f0f2f5;
  transition: 0.3s all linear;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: relative;
    margin: 0 0 0 250px;
    padding: 0;
  }
}
#topbar {
  background: #ffffff;
  width: 100%;
  height: 50px;
}
#topbar.navbar-default {
  border: 0;
}
#topbar .navbar-header {
  width: 250px;
  height: 100%;
  background: #1E1E1E;
  text-align: center;
}
.clearfix{
  clear: both;
}
#topbar .navbar-header #logo {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  height: 100%;
  width: 100%;
}
#topbar .navbar-header #logo span.fa {
  display: none;
}
#topbar .navbar-header #logo span.logo-text {
  display: block;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}
#topbar .topbar-main {
  display: block;
  height: 100%;
  background: #1E1E1E;
}
#topbar .topbar-main #menu-toggle {
  float: left;
  padding: 15px 20px;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
  color: #ffffff;
}
#topbar .topbar-main #menu-toggle:hover,
#topbar .topbar-main #menu-toggle:focus {
  color: #FFF;
}
#topbar .topbar-main #menu-toggle i {
  font-size: 25px;
}
#topbar .topbar-main ul.nav.navbar-nav {
  display: none;
}
#topbar .topbar-main ul.nav.navbar-nav.horizontal-menu {
  display: block;
}
#topbar .topbar-main ul.nav.navbar-nav li.active a,
#topbar .topbar-main ul.nav.navbar-nav li:hover a,
#topbar .topbar-main ul.nav.navbar-nav li.open a {
  background: #ffffff;
  color: #999999;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown {
  position: static;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown.mega-menu-full .dropdown-menu {
  left: 20px;
  right: 20px;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu {
  left: auto;
  width: auto;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu .mega-menu-content {
  padding: 10px;
  margin: 0;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu {
  *width: auto !important;
  padding: 0px 15px !important;
  margin: 0 !important;
  border-right: 1px solid #eeeeee;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu:last-child {
  border-right: 0;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li {
  padding: 2px !important;
  margin: 0 !important;
  list-style: none;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li h3 {
  color: #555555;
  margin-top: 10px;
  padding-left: 5px;
  font-size: 15px;
  font-weight: normal;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li a {
  padding: 5px !important;
  margin: 0 !important;
  font-weight: normal;
  display: block;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li a:hover {
  background: #f0f0f0;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .document-demo .mega-menu-submenu {
  border-right: none;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .document-demo .mega-menu-submenu li a {
  text-align: center;
  padding: 30px 5px !important;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .document-demo .mega-menu-submenu li a:hover {
  background: transparent;
}
#topbar .topbar-main ul.nav.navbar-nav li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .document-demo .mega-menu-submenu li a i {
  font-size: 50px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
#topbar .topbar-main ul.nav.navbar-nav li a {
  color: #ffffff;
}
#topbar #topbar-search {
  width: 250px;
  float: left;
}
#topbar #topbar-search i {
  font-size: 20px;
  margin: 0;
  top: 17px;
  right: 12px;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#topbar #topbar-search input {
  padding: 15px 30px !important;
  height: 100%;
  border: 0 !important;
  border-radius: 0;
  background: #3C3C3C;
  
}
#topbar .navbar-top-links li {
  display: inline-block;
}
#topbar .navbar-top-links li:last-child {
  margin-right: 15px;
}
#topbar .navbar-top-links li.open > a {
  background: #3C3C3C !important;
  color: #ffffff !important;
}
#topbar .navbar-top-links li.open > a:hover,
#topbar .navbar-top-links li.open > a:focus {
  background: #3C3C3C !important;
}
#topbar .navbar-top-links li.open > a i {
  color: #ffffff;
}
#topbar .navbar-top-links li > a {
  padding: 15px 20px;
  height: 100%;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#topbar .navbar-top-links li > a:hover,
#topbar .navbar-top-links li > a:focus {
  background: #3C3C3C;
}
#topbar .navbar-top-links li > a i {
  font-size: 16px;
  color: #ffffff;
}
#topbar .navbar-top-links li > a span.badge {
  position: absolute;
  top: 5px;
  right: 30px;
  padding: 3px 6px;
  color: #ffffff;
}
#topbar .navbar-top-links li > a img {
  position: relative;
  width: 25px;
  height: 25px;
  display: inline-block;
}
#topbar .navbar-top-links li .dropdown-menu li {
  display: block;
}
#topbar .navbar-top-links li .dropdown-menu li:last-child {
  margin-right: 0;
}
#topbar .navbar-top-links li .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
  color: #999999;
}
#topbar .navbar-top-links li .dropdown-menu li a div {
  white-space: normal;
}
#topbar .navbar-top-links li .dropdown-menu li a.btn {
  color: #FFFFFF;
}
#topbar .navbar-top-links li.topbar-user a {
  padding: 12px 15px 11px;
}
#topbar .navbar-top-links li.topbar-user a img {
  margin-right: 5px;
}

#topbar .navbar-top-links .dropdown-user li a {
  padding: 10px !important;
  height: auto;
}
#topbar .navbar-top-links .dropdown-user li a:hover,
#topbar .navbar-top-links .dropdown-user li a:focus {
  background: #f7f7f8 !important;
}
#topbar .navbar-top-links .dropdown-user li a i {
  margin-right: 5px;
  color: #999999;
}
#topbar .navbar-top-links .dropdown-user li a .badge {
  position: absolute;
  margin-top: 5px;
  right: 10px;
  display: inline;
  font-size: 11px;
  padding: 3px 6px 3px 6px;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.page-title-breadcrumb {
  padding: 10px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  clear: both;
  border-bottom: 5px solid #e5e5e5 !important;
    box-shadow: none !important;
}
.page-title-breadcrumb .page-header {
  margin: 0;
  padding: 0;
  border-bottom: 0;
}
.page-title-breadcrumb .page-header .page-title {
  font-size: 25px;
  font-weight: 300;
  display: inline-block;
  
}
.page-title-breadcrumb .page-header .page-subtitle {
  font-size: 14px;
  font-weight: 300;
  color: #bcbcbc;
  display: inline-block;
}
.page-title-breadcrumb .breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: transparent;
}
.page-title-breadcrumb .breadcrumb li + li:before {
  content: "";
  padding: 0;
}
.horizontal-menu-page #sidebar {
  display: none;
}
.horizontal-menu-page #page-wrapper {
  margin-left: 0;
}
.horizontal-menu-page #menu-toggle {
  display: none;
}

.fixed-topbar #topbar {
  position: fixed;
}
.fixed-topbar #sidebar {
  padding-top: 50px !important;
}
.fixed-topbar #page-wrapper {
  padding-top: 50px !important;
}
#sidebar {
  background: #3C3C3C;
}
.navbar-static-side {
  transition: 0.3s all linear;
}
.navbar-static-side ul li {
  border-bottom: 1px solid #484848;
}
.navbar-static-side ul li:first-child a {
  padding: 0;
}
.navbar-static-side ul li
{
   background: #3C3C3C; /* Old browsers */
     outline: none;
      color:#d9d9d9;
    
}

.navbar-static-side ul li.active a {
background: #3e77ab; /* Old browsers */
  transition: 0.2s all ease-in-out;
  outline: none;
  color:#FFF;
}
.navbar-static-side ul li a {
  color: #d9d9d9;
  padding: 15px;
}
.navbar-static-side ul li a span.menu-title {
  margin-left: 10px;
}
.navbar-static-side ul li a i {
  font-size: 16px;
}
.navbar-static-side ul li a i .icon-bg {
  display: none;
}
.navbar-static-side ul li a:hover,
.navbar-static-side ul li a:focus {
background: #303030; /* Old browsers */
  transition: 0.2s all ease-in-out;
  outline: none;
  color:#FFF;
}
.navbar-static-side ul li a .badge,
.navbar-static-side ul li a .label {
  float: right;
  margin-right: 10px;
}
.navbar-static-side ul li a.menu-title {
  margin-left: 10px;
}
.navbar-static-side ul li .nav-second-level li {
  border-bottom: 1px solid #484848;
  
}
.navbar-static-side ul li .nav-second-level li.active a,
.navbar-static-side ul li .nav-second-level li:hover a,
.navbar-static-side ul li .nav-second-level li:focus a {
  color: #0797e0;
}
.navbar-static-side ul li .nav-second-level li a {
  padding: 15px 15px 15px 40px;
  background: #37455f;
  color: #efefef;
}
.navbar-static-side ul li .nav-second-level li a span.submenu-title {
  margin-left: 10px;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li {
  border-bottom: 1px solid #484848;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li.active a,
.navbar-static-side ul li .nav-second-level li .nav-third-level li:hover a,
.navbar-static-side ul li .nav-second-level li .nav-third-level li:focus a {
  color: #0797e0;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li a {
  padding: 15px 15px 15px 40px;
  background: #313e55;
  color: #efefef;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li a span.submenu-title {
  margin-left: 10px;
}
.navbar-static-side ul li.sidebar-heading {
  padding: 5px 15px;
}
.navbar-static-side ul li.sidebar-heading h4 {
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: bold;
  color: #0797e0;
}
.navbar-static-side ul li.user-panel {
  padding: 15px;
}
.navbar-static-side ul li.user-panel .thumb {
  float: left;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.navbar-static-side ul li.user-panel .thumb img {
  width: 45px;
  height: 45px;
}
.navbar-static-side ul li.user-panel .info {
  float: left;
  padding: 5px 5px 5px 15px;
  color: #ffffff;
}
.navbar-static-side ul li.user-panel .info p {
  margin-bottom: 3px;
  font-size: 16px;
}
.navbar-static-side ul li.user-panel .info a {
  font-size: 10px;
}
.navbar-static-side ul li.user-panel .info a i {
  font-size: 14px;
  color: #999;
}
.navbar-static-side ul li.user-panel .info a:hover,
.navbar-static-side ul li.user-panel .info a:focus {
  background-color: transparent;
}
.navbar-static-side ul li.user-panel .info a:hover i,
.navbar-static-side ul li.user-panel .info a:focus i {
  color: #777;
}
.navbar-static-side ul li.user-panel ul li {
  border-bottom: 0;
}
.sidebar-user-info {
  padding: 15px;
}
.sidebar-user-info img {
  border: 5px solid #d95b5b;
  width: 75px;
  height: 75px;
  display: inline-block;
}
.sidebar-user-info h4 {
  color: #FFFFFF;
  margin-bottom: 5px;
}
.sidebar-user-info ul {
  margin-bottom: 3px;
}
.sidebar-user-info ul li {
  border-bottom: 0 !important;
}
.sidebar-user-info ul li a {
  color: #cdcdcd;
}
.sidebar-user-info .user-status {
  width: 10px;
  height: 10px;
  border-radius: 50% !important;
  display: inline-block;
  background: transparent;
  margin-right: 5px;
}
.sidebar-user-info .user-status.is-online {
  background: #06B53C;
}
.sidebar-user-info .user-status.is-idle {
  background: #F7D227;
}
.sidebar-user-info .user-status.is-busy {
  background: #ee4749;
}
.sidebar-user-info .user-status.is-offline {
  background: #666666;
}
.sidebar-user-info span {
  color: #FFFFFF;
}
.sidebar-user-activity {
  padding: 15px;
  border-bottom: 0 !important;
}
.sidebar-user-activity h4 {
  color: #FFFFFF;
}
.sidebar-user-activity .note {
  padding: 3px 15px;
  margin-bottom: 5px;
}
.sidebar-user-activity .note small {
  color: #cdcdcd;
}
.sidebar-user-activity .note a:hover,
.sidebar-user-activity .note a:focus {
  background: transparent;
}
.arrow {
  float: right;
  margin-top: 3px;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}
@media (min-width: 768px) {
  .navbar-static-side {
    z-index: 1;
    position: absolute;
    width: 250px;
  }
}
.right-sidebar #topbar .navbar-header {
  float: right;
  border-right: 0;
}
.right-sidebar #sidebar {
  left: auto;
  right: 0;
}
.right-sidebar #page-wrapper {
  margin: 0 250px 0 0;
}
/* Begin Horizontal menu */
/* Begin Left Sidebar Collapsed */
.left-side-collapsed .navbar-static-side {
  width: 55px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.user-panel {
  display: none;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a {
  height: 50px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a span.menu-title {
  display: block !important;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a span.submenu-title {
  display: block !important;
  margin-left: 0;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover ul.nav-second-level {
  display: block;
  position: absolute;
  top: 50px;
  left: 55px;
  width: 195px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover ul.nav-second-level li a {
  padding: 15px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li a span {
  display: none;
}
.left-side-collapsed .navbar-static-side ul#side-menu li a i.fa {
  font-size: 18px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li a span.menu-title {
  position: absolute;
  top: 0;
  left: 55px;
  padding: 15px;
  margin-left: 0;
  width: 195px;
  height: 50px;
    background: #303030; /* Old browsers */
      outline: none;
      
}
.left-side-collapsed .navbar-static-side ul#side-menu li ul.nav-second-level {
  display: none;
  position: absolute;
  top: 50px;
  left: 55px;
  width: 195px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li ul.nav-second-level li a i {
  display: none;
}
.left-side-collapsed #page-wrapper {
  margin: 0 0 0 55px;
}
/* End Left Sidebar Collapsed */
/* Begin Right Sidebar Collapsed */
.right-side-collapsed .navbar-static-side {
  width: 55px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.user-panel {
  display: none;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a {
  height: 50px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a span.menu-title {
  display: block !important;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a span.submenu-title {
  display: block !important;
  margin-right: 0;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.nav-hover ul.nav-second-level {
  display: block;
  position: absolute;
  top: 50px;
  right: 55px;
  width: 195px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.nav-hover ul.nav-second-level li a {
  padding: 15px 5px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li a span {
  display: none;
}
.right-side-collapsed .navbar-static-side ul#side-menu li a i.fa {
  font-size: 18px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li a span.menu-title {
  position: absolute;
  top: 0;
  right: 55px;
  padding: 15px;
  margin-right: 0;
  background: #0797e0;
  color: #ffffff;
  width: 195px;
  height: 50px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li ul.nav-second-level {
  display: none;
  position: absolute;
  top: 50px;
  right: 55px;
  width: 195px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li ul.nav-second-level li a i {
  display: none;
}
.navbar-static-side ul li .nav-second-level li a:before {
    content: "\f101";
    font-size: 14px;
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 10px;
    transition: margin ease 0.5s;
}

.right-side-collapsed #page-wrapper {
  margin: 0 55px 0 0;
}
/* End Left Sidebar Collapsed */
.page-content {
  padding: 20px 20px 50px 20px;
  min-height: 100%;
}
#footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 15px 20px;
  background: #FFFFFF;
}
#theme-setting {
  position: fixed;
  right: -250px;
  top: 120px;
  padding: 10px 13px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-right: 0;
  width: 250px;
  z-index: 9999;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
#theme-setting .btn-theme-setting {
  padding: 15px;
  background: #ffffff;
  position: absolute;
  z-index: 9999;
  left: -57px;
  border: 1px solid;
  border-color: #e5e5e5 transparent #e5e5e5 #e5e5e5;
  top: -1px;
}
#theme-setting .btn-theme-setting i {
  font-size: 30px;
  color: #94cc55;
  line-height: 25px;
}
#theme-setting .btn-theme-setting:hover,
#theme-setting .btn-theme-setting:focus {
  color: #999999;
  outline: none;
}
#theme-setting .content-theme-setting ul#list-color li {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 5px solid transparent;
  margin: 0 5px;
}
#theme-setting .content-theme-setting ul#list-color li.green-dark {
  background: #594857;
  border-color: #488c6c;
}
#theme-setting .content-theme-setting ul#list-color li.red-dark {
  background: #594857;
  border-color: #bf4346;
}
#theme-setting .content-theme-setting ul#list-color li.pink-dark {
  background: #594857;
  border-color: #bf3773;
}
#theme-setting .content-theme-setting ul#list-color li.blue-dark {
  background: #594857;
  border-color: #0a819c;
}
#theme-setting .content-theme-setting ul#list-color li.yellow-dark {
  background: #594857;
  border-color: #f2994b;
}
#theme-setting .content-theme-setting ul#list-color li.green-grey {
  background: #4b5d67;
  border-color: #488c6c;
}
#theme-setting .content-theme-setting ul#list-color li.red-grey {
  background: #4b5d67;
  border-color: #bf4346;
}
#theme-setting .content-theme-setting ul#list-color li.pink-grey {
  background: #4b5d67;
  border-color: #bf3773;
}
#theme-setting .content-theme-setting ul#list-color li.blue-grey {
  background: #4b5d67;
  border-color: #0a819c;
}
#theme-setting .content-theme-setting ul#list-color li.yellow-grey {
  background: #4b5d67;
  border-color: #f2994b;
}
#theme-setting .content-theme-setting ul#list-color li.yellow-green {
  background: #007451;
  border-color: #CCA32F;
}
#theme-setting .content-theme-setting ul#list-color li.orange-grey {
  background: #322F2B;
  border-color: #D94E37;
}
#theme-setting .content-theme-setting ul#list-color li.pink-blue {
  background: #40516F;
  border-color: #DC6767;
}
#theme-setting .content-theme-setting ul#list-color li.pink-violet {
  background: #554161;
  border-color: #E82A62;
}
#theme-setting .content-theme-setting ul#list-color li.orange-violet {
  background: #554161;
  border-color: #FF422B;
}
#theme-setting .content-theme-setting ul#list-color li.pink-green {
  background: #456445;
  border-color: #FF5E70;
}
#theme-setting .content-theme-setting ul#list-color li.pink-brown {
  background: #573F2F;
  border-color: #A21E46;
}
#theme-setting .content-theme-setting ul#list-color li.orange-blue {
  background: #33485C;
  border-color: #E74C3C;
}
#theme-setting .content-theme-setting ul#list-color li.yellow-blue {
  background: #417CB2;
  border-color: #FFC34C;
}
#theme-setting .content-theme-setting ul#list-color li.green-blue {
  background: #417CB2;
  border-color: #66B354;
}
/*panel stat*/
#sum_box .db {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#sum_box .icon {
  color: #999999;
  font-size: 55px;
  margin-top: 7px;
  margin-bottom: 0px;
  float: right;
}
#sum_box h4 {
  text-align: left;
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#sum_box h4 span:last-child {
  font-size: 25px;
}
#sum_box p.description {
  margin-top: 0px;
  opacity: .6;
}
#sum_box .db:hover {
  background: #40516f;
  color: #fff;
}
#sum_box .db:hover .icon {
  opacity: 1;
  color: #fff;
}
#sum_box .db:hover p.description {
  opacity: 1;
}
/*panel stat*/
/*user profile*/
.profile {
  display: inline-block;
}
.profile h2 {
  margin-top: 0;
}
.profile .divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
figcaption.ratings {
  margin-top: 20px;
}
figcaption.ratings a {
  color: #f1c40f;
  font-size: 11px;
}
.emphasis {
  border-top: 4px solid transparent;
  padding-top: 15px;
}
.emphasis:hover {
  border-top: 4px solid #1abc9c;
}
.emphasis h2 {
  margin-bottom: 0;
}
/*user profile*/
/*to-do list*/
ul.todo-list {
  overflow: hidden;
  width: auto;
  height: 250px;
  padding: 0;
}
ul.todo-list li {
  background: #f3f3f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  padding: 13px;
  margin-bottom: 5px;
  cursor: move;
  list-style: none;
}
ul.todo-list li span.drag-drop {
  height: 17px;
  display: block;
  float: left;
  width: 7px;
  position: relative;
  top: 2px;
}
ul.todo-list li span.drag-drop i {
  height: 2px;
  width: 2px;
  display: block;
  background: #ccc;
  box-shadow: 5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
  -webkit-box-shadow: 5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
  -moz-box-shadow: 5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
}
ul.todo-list li .todo-check {
  margin-left: 10px;
  margin-right: 10px;
}
ul.todo-list li .todo-title {
  margin-right: 70px;
}
ul.todo-list li .todo-actions {
  position: absolute;
  right: 15px;
  top: 13px;
}
ul.todo-list li .todo-actions a i {
  color: #999999;
  margin: 0 5px;
}
ul.todo-list li .todo-actions a:hover i,
ul.todo-list li .todo-actions a:focus i {
  color: #555555;
}
/*to-do list*/
/*chat form*/
ul.chats {
  margin: 0;
  padding: 0;
}
ul.chats li {
  list-style: none;
  margin: 30px auto;
  font-size: 12px;
}
ul.chats li:first-child {
  margin-top: 0;
}
ul.chats li img.avatar,img.avatar {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
ul.chats li .message {
  display: block;
  padding: 7px;
  position: relative;
}
ul.chats li .message .chat-datetime {
  font-style: italic;
  color: #888;
  font-size: 11px;
}
ul.chats li .message .chat-body {
  display: block;
  margin-top: 5px;
}
ul.chats li.in img.avatar {
  float: left;
}
ul.chats li.in .message {
  background: #fafbfc;
  margin-left: 65px;
  border-left: 3px solid #e5e5e5;
  border-radius: 4px;
}
.chats li.in .message .chat-arrow {
  display: block;
  position: absolute;
  top: 15px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e5e5e5;
}
ul.chats li.in .message a.chat-name {
  color: #0797e0;
}
ul.chats li.out img.avatar {
  float: right;
}
ul.chats li.out .message {
  background: #f3f3f3;
  margin-right: 65px;
  border-right: 3px solid #e5e5e5;
  text-align: right;
  border-radius: 4px;
}
ul.chats li.out .message .chat-arrow {
  display: block;
  position: absolute;
  top: 15px;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e5e5e5;
}
ul.chats li.out .message a.chat-name {
  color: #0797e0;
}
ul.chats li.out .message a.chat-name,
ul.chats li.out .message a.chat-datetime {
  text-align: right;
}
.chat-form {
  margin-top: 15px;
  padding: 10px;
  background-color: #f0f0f0;
  overflow: hidden;
  clear: both;
}
.chat-form #input-chat,
.chat-form .input-group-btn .btn {
  border: 0;
}
.chat-form .input-group-btn:last-child > .btn,
.chat-form .input-group-btn:last-child > .btn-group {
  margin-left: 0;
}
/*chat form*/
.row-icons {
  padding: 15px 0;
  margin: 0;
}
.row-icons [class*="col"] {
  margin-bottom: 20px;
  padding: 0;
}
.row-icons [class*="col"] a {
  line-height: 30px;
  display: inline-block;
  color: #999999;
  text-decoration: none;
}
.row-icons [class*="col"] a:hover i.fa:before {
  color: #e69090;
}
.row-icons [class*="col"] a:hover i.glyphicon:before {
  color: #e69090;
}
.row-icons [class*="col"] i.fa {
  vertical-align: middle;
  margin: 0 10px;
  width: 40px;
}
.row-icons [class*="col"] i:before {
  color: #0797e0;
  font-size: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.row-icons [class*="col"] span {
  padding-left: 20px;
  vertical-align: top;
}
.modal-full-width {
  width: 100%;
}
.modal-wide-width {
  width: 70%;
}
#error-page {
  background: #F0F2F5;
  text-align: center;
  position: relative;
}
#error-page #error-page-content {
  width: 480px;
  margin: 10% auto 0 auto;
  text-align: center;
}
#error-page #error-page-content h1 {
  font-family: 'oswald';
  font-size: 150px;
  font-weight: bold;
  color: #0797e0;
}
#error-page #error-page-content p a {
  color: #0797e0;
}
#error-page #error-page-content p a:hover,
#error-page #error-page-content p a:focus {
  text-decoration: underline;
}
#signin-page {
  background: url('http://swlabs.co/madmin/code/style2/images/bg/1.jpg') center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#signup-page {
  background: url('http://swlabs.co/madmin/code/style2/images/bg/2.jpg') center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#lock-screen-page {
  background: url('http://swlabs.co/madmin/code/style2/images/bg/3.jpg') center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#lock-screen-page .page-form {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
#lock-screen-page .page-form input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
}
.page-form {
  width: 650px;
  margin: 20% auto 0 auto;
  border-radius: 4px;
}
.page-form .input-icon i {
  margin-top: 12px;
}
.page-form input[type='text'],
.page-form input[type='password'],
.page-form input[type='email'],
.page-form select {
  height: 40px;
  border-color: #e5e5e5;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #999999;
}
.page-form .header-content {
  padding: 15px 20px;
  background: #e9e9e9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.page-form .header-content h1 {
  font-family: 'oswald';
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
.page-form .body-content {
  padding: 15px 20px;
  position: relative;
}
.page-form .body-content .btn-twitter {
  background: #5bc0de;
  margin-bottom: 10px;
  color: #ffffff;
}
.page-form .body-content .btn-twitter i {
  margin-right: 5px;
}
.page-form .body-content .btn-twitter:hover,
.page-form .body-content .btn-twitter:focus {
  color: #ffffff;
}
.page-form .body-content .btn-facebook {
  background: #418bca;
  margin-bottom: 10px;
  color: #ffffff;
}
.page-form .body-content .btn-facebook i {
  margin-right: 5px;
}
.page-form .body-content .btn-facebook:hover,
.page-form .body-content .btn-facebook:focus {
  color: #ffffff;
}
.page-form .body-content .btn-google-plus {
  background: #dd4c39;
  margin-bottom: 10px;
  color: #ffffff;
}
.page-form .body-content .btn-google-plus i {
  margin-right: 5px;
}
.page-form .body-content .btn-google-plus:hover,
.page-form .body-content .btn-google-plus:focus {
  color: #ffffff;
}
.page-form .body-content p a {
  color: #0797e0;
}
.page-form .body-content p a:hover,
.page-form .body-content p a:focus {
  color: #777777;
  text-decoration: none;
}
.page-form .body-content .forget-password h4 {
  text-transform: uppercase;
  font-size: 16px;
}
.page-form .body-content hr {
  border-color: #e0e0e0;
}
.page-form .state-error + em {
  display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #d9534f;
}
.page-form .rating.state-error + em {
  margin-top: -4px;
  margin-bottom: 4px;
}
.page-form .state-success + em {
  display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #d9534f;
}
.page-form .state-error input,
.page-form .state-error select {
  background: #f2dede;
}
.page-form .state-success input,
.page-form .state-success select {
  background: #dff0d8;
}
.page-form .note-success {
  color: #5cb85c;
}
.page-form label {
  font-weight: normal;
  margin-bottom: 0;
}
#lock-screen-page .page-form {
  margin-top: 15%;
  text-align: center;
}
#lock-screen-page .page-form h1 {
  margin: 0;
  font-family: 'Oswald';
}
#lock-screen-avatar {
  top: -78px;
  left: 50%;
  margin-left: -74px;
  position: absolute;
  display: inline-block;
}
#lock-screen-avatar img {
  border: 10px solid #eeeeee;
}
#lock-screen-info {
  margin-top: 60px;
}
@media only screen and (max-width: 480px) {
  .page-form {
    width: 280px;
  }
  #lock-screen-page .page-form {
    margin-top: 35%;
  }
}
canvas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}
.timeline-centered {
  position: relative;
  margin-bottom: 30px;
}
.timeline-centered.timeline-sm .timeline-entry {
  margin-bottom: 20px !important;
}
.timeline-centered.timeline-sm .timeline-entry .timeline-entry-inner .timeline-label {
  padding: 1em;
}
.timeline-centered:before,
.timeline-centered:after {
  content: " ";
  display: table;
}
.timeline-centered:after {
  clear: both;
}
.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 7px;
  background: #ffffff;
  left: 50%;
  top: 20px;
  bottom: 20px;
  margin-left: -4px;
}
.timeline-centered .timeline-entry {
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 70px;
  clear: both;
}
.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry:after {
  clear: both;
}
.timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}
.timeline-centered .timeline-entry.left-aligned {
  float: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -28px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -115px;
  text-align: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 85px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -31px;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -115px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 18px;
  font-weight: bold;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #fff;
  color: #999999;
  display: block;
  width: 60px;
  height: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 50%;
  text-align: center;
  border: 7px solid #ffffff;
  line-height: 45px;
  font-size: 15px;
  float: left;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
  background-color: #0797e0;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
  background-color: #5cb85c;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
  background-color: #5bc0de;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
  background-color: #f0ad4e;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
  background-color: #d9534f;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-red {
  background-color: #bf4346;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-green {
  background-color: #488c6c;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-blue {
  background-color: #0a819c;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-yellow {
  background-color: #f2994b;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-orange {
  background-color: #e9662c;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-pink {
  background-color: #bf3773;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-violet {
  background-color: #9351ad;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-grey {
  background-color: #4b5d67;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-dark {
  background-color: #594857;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #ffffff;
  padding: 1.7em;
  margin-left: 85px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-red {
  background: #bf4346;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-red:after {
  border-color: transparent #bf4346 transparent transparent;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-red .timeline-title,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-red p {
  color: #ffffff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-green {
  background: #488c6c;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-green:after {
  border-color: transparent #488c6c transparent transparent;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-green .timeline-title,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-green p {
  color: #ffffff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-orange {
  background: #e9662c;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-orange:after {
  border-color: transparent #e9662c transparent transparent;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-orange .timeline-title,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-orange p {
  color: #ffffff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-yellow {
  background: #f2994b;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-yellow:after {
  border-color: transparent #f2994b transparent transparent;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-yellow .timeline-title,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-yellow p {
  color: #ffffff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-blue {
  background: #0a819c;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-blue:after {
  border-color: transparent #0a819c transparent transparent;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-blue .timeline-title,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-blue p {
  color: #ffffff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-pink {
  background: #bf3773;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-pink:after {
  border-color: transparent #bf3773 transparent transparent;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-pink .timeline-title,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-pink p {
  color: #ffffff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-violet {
  background: #9351ad;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-violet:after {
  border-color: transparent #9351ad transparent transparent;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-violet .timeline-title,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-violet p {
  color: #ffffff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-grey {
  background: #4b5d67;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-grey:after {
  border-color: transparent #4b5d67 transparent transparent;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-grey .timeline-title,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-grey p {
  color: #ffffff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-dark {
  background: #594857;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-dark:after {
  border-color: transparent #594857 transparent transparent;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-dark .timeline-title,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-dark p {
  color: #ffffff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #ffffff transparent transparent;
  left: 0;
  top: 20px;
  margin-left: -9px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label .timeline-title,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #999999;
  margin: 0;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label .timeline-title {
  margin-bottom: 10px;
  font-family: 'Oswald';
  font-weight: bold;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label .timeline-title span {
  -webkit-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p .timeline-img {
  margin: 5px 10px 0 0;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p .timeline-img.pull-right {
  margin: 5px 0 0 10px;
}
.panel-group .panel .panel {
  margin-bottom: 15px;
}
.panel-group .panel .panel-title {
  font-size: 17px;
  font-weight: 400;
}
.panel-group .panel .panel-title .accordion-toggle {
  padding: 7px 0px;
}
.tab-content.tab-edit {
  background: transparent;
  border: 0px;
}
ul.nav.nav-tabs {
  border-bottom: 5px solid #fff !important;
}
ul.nav.nav-tabs li {
  margin-bottom: 10px;
}
ul.nav.nav-tabs li a {
  border: 0px;
  background: none;
  padding: 10px 20px;
}
ul.nav.nav-tabs li.active a {
  background: #dc6767;
  color: #fff;
  border: 0px;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #fff;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 44%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: #fff;
}
.timeline > li > .timeline-panel.primary {
  background: #2e6da4;
  color: #fff;
}
.timeline > li > .timeline-panel.primary:after {
  border-left: 14px solid #2e6da4 ;
  border-right: 0 solid #2e6da4 ;
}
.timeline > li > .timeline-panel.success {
  background: #3f903f;
  color: #fff;
}
.timeline > li > .timeline-panel.success:after {
  border-left: 14px solid #3f903f ;
  border-right: 0 solid #3f903f ;
}
.timeline > li > .timeline-panel.warning {
  background: #f0ad4e;
  color: #fff;
}
.timeline > li > .timeline-panel.warning:after {
  border-left: 14px solid #f0ad4e ;
  border-right: 0 solid #f0ad4e ;
}
.timeline > li > .timeline-panel.danger {
  background: #d9534f;
  color: #fff;
}
.timeline > li > .timeline-panel.danger:after {
  border-left: 14px solid #d9534f ;
  border-right: 0 solid #d9534f ;
}
.timeline > li > .timeline-panel.info {
  background: #5bc0de;
  color: #fff;
}
.timeline > li > .timeline-panel.info:after {
  border-left: 14px solid #5bc0de ;
  border-right: 0 solid #5bc0de ;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 35px;
  font-size: 2.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 2px solid #fff;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }
  ul li:not(.timeline-inverted) .timeline-panel:after {
    border-left: 0px !important;
  }
  ul li:not(.timeline-inverted) .timeline-panel.primary:before {
    border-right: 15px solid #2e6da4;
  }
  ul li:not(.timeline-inverted) .timeline-panel.danger:before {
    border-right: 15px solid #d9534f;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(80%);
    width: -moz-calc(80%);
    width: -webkit-calc(80%);
  }
  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
#one-column .message-item {
  margin-bottom: 25px;
  margin-left: 40px;
  position: relative;
}
#one-column .message-item .message-inner {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
  padding: 10px;
  position: relative;
}
#one-column .message-item .message-inner:before {
  border-right: 10px solid #ddd;
  border-style: solid;
  border-width: 10px;
  color: rgba(0, 0, 0, 0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -20px;
  top: 6px;
  width: 0;
}
#one-column .message-item .message-inner:after {
  border-right: 10px solid #fff;
  border-style: solid;
  border-width: 10px;
  color: rgba(0, 0, 0, 0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -18px;
  top: 6px;
  width: 0;
}
#one-column .message-item:before {
  background: #fff;
  border-radius: 2px;
  bottom: -30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  content: "";
  height: 100%;
  left: -30px;
  position: absolute;
  width: 3px;
}
#one-column .message-item:after {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  content: "";
  height: 15px;
  left: -36px;
  position: absolute;
  top: 10px;
  width: 15px;
}
#one-column .clearfix:before,
#one-column .clearfix:after {
  content: " ";
  display: table;
}
#one-column .message-item .message-head {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
#one-column .message-item .message-head .avatar {
  margin-right: 20px;
}
#one-column .message-item .message-head .user-detail {
  overflow: hidden;
}
#one-column .message-item .message-head .user-detail h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
#one-column .message-item .message-head .post-meta {
  float: left;
  padding: 0 15px 0 0;
}
#one-column .message-item .message-head .post-meta > div {
  color: #333;
  font-weight: bold;
  text-align: right;
}
#one-column .post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}
#one-column .message-item .message-head .post-meta > div {
  color: #333;
  font-weight: bold;
  text-align: right;
}
#one-column .post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}
#one-column .avatar img {
  min-height: 40px;
  max-height: 40px;
}
#one-column .post-meta .qa-message-who-pad {
  margin-left: 10px;
}
#one-column .message-item.blue:after {
  background: #0a819c;
}
#one-column .message-item.blue .message-inner {
  border-color: #0a819c;
}
#one-column .message-item.blue .message-inner:before {
  border-right-color: #0a819c;
}
#one-column .message-item.red:after {
  background: #bf4346;
}
#one-column .message-item.red .message-inner {
  border-color: #bf4346;
}
#one-column .message-item.red .message-inner:before {
  border-right-color: #bf4346;
}
#one-column .message-item.green:after {
  background: #488c6c;
}
#one-column .message-item.green .message-inner {
  border-color: #488c6c;
}
#one-column .message-item.green .message-inner:before {
  border-right-color: #488c6c;
}
#one-column .message-item.orange:after {
  background: #e9662c;
}
#one-column .message-item.orange .message-inner {
  border-color: #e9662c;
}
#one-column .message-item.orange .message-inner:before {
  border-right-color: #e9662c;
}
#one-column .message-item.pink:after {
  background: #bf3773;
}
#one-column .message-item.pink .message-inner {
  border-color: #bf3773;
}
#one-column .message-item.pink .message-inner:before {
  border-right-color: #bf3773;
}
#one-column .message-item.violet:after {
  background: #9351ad;
}
#one-column .message-item.violet .message-inner {
  border-color: #9351ad;
}
#one-column .message-item.violet .message-inner:before {
  border-right-color: #9351ad;
}
.blog-page h1 {
  margin-bottom: 20px;
}
.blog-page .blog-articles {
  padding-bottom: 20px;
}
.blog-page .blog-articles .blog-img {
  margin-bottom: 10px;
}
.blog-page .blog-articles .blog-img img {
  margin-bottom: 12px;
}
.blog-page .blog-articles .blog-img ul {
  margin-bottom: 5px;
  margin-left: 0;
}
.blog-page .blog-articles .blog-img ul li {
  padding: 0;
}
.blog-page .blog-articles .blog-img ul li i {
  color: #0797e0;
  margin-right: 3px;
}
.blog-page .blog-articles .blog-img ul li a {
  margin-right: 8px;
  text-decoration: none;
}
.blog-page .blog-articles .blog-img ul.blog-date li i {
  color: #0797e0;
  margin-right: 3px;
}
.blog-page .blog-articles .blog-img ul.blog-date li a {
  color: #999999;
}
.blog-page .blog-articles .blog-article {
  padding-bottom: 20px;
}
.blog-page .blog-articles .blog-article h3 {
  margin-top: 0;
}
.blog-page .blog-articles ul.blog-tags {
  margin-bottom: 5px;
  margin-left: 0;
}
.blog-page .blog-articles ul.blog-tags li {
  padding: 0;
}
.blog-page .blog-articles ul.blog-tags li i {
  color: #0797e0;
  margin-right: 3px;
}
.blog-page .blog-articles ul.blog-tags li a {
  margin-right: 8px;
  text-decoration: none;
}
.blog-page .blog-articles ul.blog-date li i {
  color: #0797e0;
  margin-right: 3px;
}
.blog-page .blog-articles ul.blog-date li a {
  color: #999999;
}
.blog-page .blog-sidebar ul li a {
  color: #999999;
}
.blog-page .blog-sidebar .blog-images li a img {
  width: 50px;
  height: 50px;
  opacity: 0.6;
  margin: 0 2px 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-page .blog-sidebar .blog-images li a img:hover {
  opacity: 1;
}
.blog-page .blog-sidebar .sidebar-tags li {
  padding: 0;
}
.blog-page .blog-sidebar .sidebar-tags li a {
  color: #ffffff;
  margin: 0 2px 5px 0;
  display: inline-block;
}
.blog-page hr {
  margin-bottom: 40px;
}
.blog-page h4.media-heading span {
  font-size: 12px;
}
.blog-page .media .media-body hr {
  margin-bottom: 20px;
}
#external-events .external-event {
  display: inline-block;
  cursor: move;
  margin-bottom: 5px;
  margin-right: 5px;
}
.gallery-pages .list-filter {
  margin-top: 10px;
  margin-bottom: 20px;
}
.gallery-pages .list-filter li {
  cursor: pointer;
  padding: 6px 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #eee;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.gallery-pages .list-filter li.active,
.gallery-pages .list-filter li:hover,
.gallery-pages .list-filter li:focus {
  background: #0797e0;
  color: #ffffff;
}
.gallery-pages .mix-grid .mix {
  display: none;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.gallery-pages .mix-grid .mix .hover-effect {
  position: relative;
  border: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  overflow: hidden;
}
.gallery-pages .mix-grid .mix .hover-effect .img {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.gallery-pages .mix-grid .mix .hover-effect .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(26, 74, 114, 0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.gallery-pages .mix-grid .mix .hover-effect .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  background: #111111;
  margin: 30px 0 0 0;
}
.gallery-pages .mix-grid .mix .hover-effect .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #e0e0e0;
  padding: 20px 20px 20px;
  text-align: center;
}
.gallery-pages .mix-grid .mix .hover-effect .info a.mix-link {
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  background: #0797e0;
  margin: 20px 10px 20px 0;
  display: inline-block;
}
.gallery-pages .mix-grid .mix .hover-effect .info a.mix-zoom {
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  background: #0797e0;
  margin: 20px 10px 20px 0;
  display: inline-block;
}
.gallery-pages .mix-grid .mix .hover-effect:hover .img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.gallery-pages .mix-grid .mix .hover-effect:hover .info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.mail-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 657px;
}
.mail-content .mail-sender {
  width: 100%;
  display: inline-block;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #EFF2F7;
  padding: 10px 0;
}
.mail-content .mail-sender .date {
  line-height: 30px;
  margin-bottom: 0;
  text-align: right;
}
.mail-content .mail-view {
  margin-bottom: 25px;
}
.mail-content .mail-attachment ul {
  padding: 0;
}
.mail-content .mail-attachment ul li {
  float: left;
  width: 100px;
  margin-right: 15px;
  margin-top: 15px;
  list-style: none;
}
.mail-content .mail-attachment ul li:hover {
  background: #f7f8f9;
}
.mail-content .mail-attachment ul li a {
  color: #999999;
}
.mail-content .mail-attachment ul li .thumb-attach img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.mail-content .mail-attachment ul li .link {
  color: #0797e0;
}
#invoice-page .panel {
  border-radius: 0;
}
#invoice-page .panel .panel-body {
  padding: 30px;
}
#invoice-page .panel .panel-body .invoice-title {
  float: right;
  text-align: right;
}
#invoice-page .panel .panel-body .invoice-title h2 {
  margin-top: 0;
}
#invoice-page .panel .panel-body .logo {
  font-family: 'Oswald';
  font-weight: bold;
  margin-top: 0;
}
#invoice-page .panel .panel-body hr {
  margin: 30px 0;
}
.box-placeholder {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  color: #444;
}
.state-error + em {
  display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #d9534f;
}
.state-success + em {
  display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #5cb85c;
}
.state-error input,
.state-error select {
   /*background: #f2dede;*/
}
.state-success input,
.state-success select {
  background: #dff0d8;
}
.note-success {
  color: #5cb85c;
}
.radio-inline,
.checkbox-inline,
.checkbox,
.radio {
  padding-left: 0;
  padding-top: 2px !important;
 /* margin: auto !important; */
}
.checkbox label,
.radio label {
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 0;
}
.form-horizontal.form-bordered .radio,
.form-horizontal.form-bordered .checkbox,
.form-horizontal.form-bordered .radio-inline,
.form-horizontal.form-bordered .checkbox-inline {
  padding-top: 0;
}
.social-icons li a {
  border: 1px solid #999999;
  border-radius: 50%;
  color: #999999;
  padding: 10px;
}
.social-icons li a:hover,
.social-icons li a:focus {
  border-color: #0797e0;
  background: #0797e0;
  color: #ffffff;
}
.member-team {
  background-color: #f9f9f9;
  float: left;
  padding: 5px;
  margin-bottom: 10px;
  max-width: 100%;
}
.member-team h3 {
  margin-top: 10px;
}
.member-team h3 small {
  color: #ababab;
  display: block;
  margin-top: 5px;
  font-size: 13px;
}
#faq .panel-group .panel {
  margin-bottom: 10px;
}
#faq .panel-group .panel .panel-heading {
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
}
#faq .panel-group .panel .panel-heading a {
  color: #999999;
}
#faq .panel-group .panel .panel-heading a strong {
  margin-right: 10px;
}
#faq .panel-group .panel .panel-heading:hover,
#faq .panel-group .panel .panel-heading:focus {
  background: #e5e5e5;
}
#faq .panel-group .panel .panel-body strong:first-child {
  margin-right: 10px;
}
.accordion-toggle {
  display: block;
  line-height: 22px;
  padding: 10px 0;
  position: relative;
}
.row .row-merge {
  margin: 0;
}
.row .row-merge [class*=col-] {
  padding: 0;
}
.row .row-merge [class*=col-] .pricing-widget {
  position: relative;
  border: 0;
  cursor: pointer;
  margin: 20px 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) !important;
}
.row .row-merge [class*=col-] .pricing-widget .pricing-head {
  background: #5cb85c;
  padding: 6px 20px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}
.row .row-merge [class*=col-] .pricing-widget .pricing-body {
  background: #fff;
}
.row .row-merge [class*=col-] .pricing-widget .pricing-cost {
  background: #4cae4c;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #efefef;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  font-size: 18px;
  color: #ffffff;
  min-height: 125px;
}
.row .row-merge [class*=col-] .pricing-widget .pricing-cost strong {
  font-size: 30px;
}
.row .row-merge [class*=col-] .pricing-widget .pricing-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.row .row-merge [class*=col-] .pricing-widget .pricing-list li {
  padding: 10px;
  border-bottom: 1px solid #efefef;
}
.row .row-merge [class*=col-] .pricing-widget .pricing-list li:last-child {
  min-height: 84px;
  padding-top: 30px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: none;
}
.row .row-merge [class*=col-] .pricing-widget:not(.pricing-title).active,
.row .row-merge [class*=col-] .pricing-widget:not(.pricing-title):hover {
  -webkit-box-shadow: 0 3px 25px -4px rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0 3px 25px -4px rgba(0, 0, 0, 0.9) !important;
}
.row .row-merge [class*=col-] .pricing-widget.active {
  z-index: 2;
}
.ribbon-wrapper {
  position: absolute;
  width: 75px;
  height: 75px;
  overflow: hidden;
  top: -1px;
  right: 14px;
}
.ribbon-wrapper .ribbon-inner {
  display: block;
  position: relative;
  padding: 5px 0;
  color: #fff;
  background-color: #bf4346;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  width: 107px;
  top: 11px;
  left: -5px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75) !important;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.the-price {
  padding: 20px;
  margin: 0;
}
.the-price h1 {
  margin-bottom: 0;
}
.the-price .subscript {
  font-size: 14px;
}
#faq .panel {
  border: 0;
}
#totop {
  position: fixed;
  bottom: 6%;
  right: 1.5%;
  display: none;
  z-index: 9999;
  background: transparent;
  border: 3px solid #3C3C3C;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
}
#totop i {
  color: #3C3C3C;
  line-height: 43px;
  font-size: 33px;
}
#totop:hover {
  background: #3C3C3C;
}
#totop:hover i {
  color: #ffffff;
}
.option-demo {
  position: relative;
}
.demo-layout {
  background-color: #ffffff;
  padding: 5px 15px;
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 9999;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}
#sidebar-hover #topbar .navbar-header {
  width: 160px;
}
#sidebar-hover #wrapper #page-wrapper {
  margin-left: 160px;
}
#sidebar-hover #wrapper #sidebar {
  width: 160px;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover {
  width: 160px;
  position: absolute;
  top: 50px;
  display: block;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li.active a {
  opacity: 0.95;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li a {
  background-color: #40516f;
  color: #FFFFFF;
  padding: 15px;
  position: relative;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li a span.menu-title {
  margin-left: 10px;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li a:after {
  content: '';
  border: 0;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li a:hover {
  opacity: 0.95;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li ul.dropdown-menu {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li ul.dropdown-menu > li:first-child > a:before {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #d44646 transparent transparent;
  left: -8px;
  top: 50%;
  margin-top: -8px;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li ul.dropdown-menu > li a {
  background-color: #d44646;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li ul.dropdown-menu > li a:hover {
  opacity: 0.95;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li ul.dropdown-menu > li ul.dropdown-menu {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li ul.dropdown-menu > li ul.dropdown-menu > li:first-child > a:before {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #de6f6f transparent transparent;
  left: -8px;
  top: 50%;
  margin-top: -8px;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li ul.dropdown-menu > li ul.dropdown-menu > li a {
  background-color: #de6f6f;
}
#sidebar-hover #wrapper #sidebar ul.menu-hover > li ul.dropdown-menu > li ul.dropdown-menu > li a:hover {
  opacity: 0.95;
}
#sidebar-hover .dropdown-submenu > .dropdown-menu {
  margin-left: 0;
}
.mail-box {
  margin-bottom: 0;
}
.mail-box .list-group-item:nth-child(odd) {
  background-color: #f8f8f8;
}
.mail-box .list-group-item {
  border: 0;
}
.mail-box .list-group-item:hover {
  color: #999999;
}
.mail-box .list-group-item .time-badge {
  float: right;
  font-style: italic;
  color: #999999;
}
.mail-box .list-group-item.active,
.mail-box .list-group-item:hover,
.mail-box .list-group-item:focus {
  background-color: #ffc !important;
  color: #999999 !important;
}
.bg-primary {
  background-color: #0797e0;
  color: #fff;
}
.bg-success {
  background-color: #5cb85c;
  color: #fff;
}
.bg-info {
  background-color: #5bc0de;
  color: #fff;
}
.bg-warning {
  background-color: #f0ad4e;
  color: #fff;
}
.bg-danger {
  background-color: #d9534f;
  color: #fff;
}
.bg-red {
  background-color: #bf4346;
  color: #fff;
}
.bg-green {
  background-color: #488c6c;
  color: #fff;
}
.bg-blue {
  background-color: #0a819c;
  color: #fff;
}
.bg-yellow {
  background-color: #f2994b;
  color: #fff;
}
.bg-orange {
  background-color: #e9662c;
  color: #fff;
}
.bg-pink {
  background-color: #bf3773;
  color: #fff;
}
.bg-violet {
  background-color: #9351ad;
  color: #fff;
}
.bg-grey {
  background-color: #4b5d67;
  color: #fff;
}
.bg-dark {
  background-color: #594857;
  color: #fff;
}
body.sidebar-colors #wrapper {
  background-color: #FFFFFF;
}
body.sidebar-colors #wrapper #sidebar {
  background-color: #FFFFFF;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li {
  border-bottom: 1px solid #e5e5e5;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li.active a,
body.sidebar-colors #wrapper #sidebar ul#side-menu li:hover a {
  background-color: #f8f8f8;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li.active a i:before,
body.sidebar-colors #wrapper #sidebar ul#side-menu li:hover a i:before {
  color: #FFFFFF;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li.active a i .icon-bg,
body.sidebar-colors #wrapper #sidebar ul#side-menu li:hover a i .icon-bg {
  left: 0;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li.user-panel {
  display: none;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li a {
  color: #999999;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li a:hover,
body.sidebar-colors #wrapper #sidebar ul#side-menu li a:focus {
  background-color: #FFFFFF;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li a i {
  position: relative;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-right: 1px solid #e5e5e5;
  text-align: center;
  margin: -16px 10px -16px -15px;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li a i:before {
  position: relative;
  z-index: 1;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li a i .icon-bg {
  display: block;
  position: absolute;
  z-index: 12;
  z-index: 0;
  left: -47px;
  width: 100%;
  top: 0;
  bottom: 0;
  -webkit-transition: left 0.15s ease-in-out;
  transition: left 0.15s ease-in-out;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li a .arrow {
  display: none;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-second-level li:first-child,
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-third-level li:first-child {
  border-top: 1px solid #e5e5e5;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-second-level li:last-child,
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-third-level li:last-child {
  border-bottom: 0;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-second-level li.active > a,
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-third-level li.active > a,
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-second-level li:hover > a,
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-third-level li:hover > a {
  background-color: #FFFFFF;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-second-level li > a,
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-third-level li > a {
  padding: 15px;
  background-color: #f1f1f1;
}
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-second-level li > a i:before,
body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-third-level li > a i:before {
  color: #999999;
}
body.sidebar-colors #wrapper #page-wrapper {
  border-left: 2px solid #e5e5e5;
}
body.sidebar-icons #topbar .navbar-header {
  width: 105px;
}
body.sidebar-icons #topbar .navbar-header .logo-text {
  display: none !important;
}
body.sidebar-icons #topbar .navbar-header .logo-text-icon {
  display: block !important;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}
body.sidebar-icons #wrapper #sidebar {
  width: 105px;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li.user-panel {
  display: none;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li:hover ul.nav-second-level {
  display: block;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li a {
  padding: 15px 10px;
  text-align: center;
  display: block;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li a:hover,
body.sidebar-icons #wrapper #sidebar ul#side-menu > li a:focus {
  background-color: transparent;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li a span.menu-title {
  display: block;
  margin-top: 8px;
  margin-left: 0;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li a i.fa {
  font-size: 25px;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li a .arrow,
body.sidebar-icons #wrapper #sidebar ul#side-menu > li a .label {
  display: none;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li ul.nav-second-level {
  display: none;
  position: absolute;
  top: 0px;
  left: 105px;
  width: 195px;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li ul.nav-second-level li a {
  text-align: left;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li ul.nav-second-level li a:hover,
body.sidebar-icons #wrapper #sidebar ul#side-menu > li ul.nav-second-level li a:focus {
  background-color: #0797e0;
  color: #FFFFFF;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li ul.nav-second-level li a i {
  display: none;
}
body.sidebar-icons #wrapper #sidebar ul#side-menu > li ul.nav-second-level li:first-child:before {
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #37455f;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: -9px;
  z-index: 5;
}
body.sidebar-icons #wrapper #page-wrapper {
  margin-left: 105px;
}
.last-col {
  overflow: hidden !important;
}
.pdn {
  padding: 0 !important;
}
.pdx {
  padding: 3px;
}
.pdm {
  padding: 10px;
}
.pdl {
  padding: 20px;
}
.pdxl {
  padding: 30px;
}
.pdxxl {
  padding: 40px;
}
.ptn,
.pvn,
.pan {
  padding-top: 0 !important;
}
.ptx,
.pvx,
.pax {
  padding-top: 3px !important;
}
.pts,
.pvs,
.pas {
  padding-top: 5px !important;
}
.ptm,
.pvm,
.pam {
  padding-top: 10px !important;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px !important;
}
.ptxl,
.pvxl,
.paxl {
  padding-top: 30px !important;
}
.ptxxl,
.pvxxl,
.paxxl {
  padding-top: 40px !important;
}
.prn,
.phn,
.pan {
  padding-right: 0 !important;
}
.prx,
.phx,
.pax {
  padding-right: 3px !important;
}
.prs,
.phs,
.pas {
  padding-right: 5px !important;
}
.prm,
.phm,
.pam {
  padding-right: 10px !important;
}
.prl,
.phl,
.pal {
  padding-right: 20px !important;
}
.prxl,
.phxl,
.paxl {
  padding-right: 30px !important;
}
.prxxl,
.phxxl,
.paxxl {
  padding-right: 40px !important;
}
.pbn,
.pvn,
.pan {
  padding-bottom: 0 !important;
}
.pbx,
.pvx,
.pax {
  padding-bottom: 3px !important;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px !important;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 10px !important;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px !important;
}
.pbxl,
.pvxl,
.paxl {
  padding-bottom: 30px !important;
}
.pbxxl,
.pvxxl,
.paxxl {
  padding-bottom: 40px !important;
}
.pln,
.phn,
.pan {
  padding-left: 0 !important;
}
.plx,
.phx,
.pax {
  padding-left: 3px !important;
}
.pls,
.phs,
.pas {
  padding-left: 5px !important;
}
.plm,
.phm,
.pam {
  padding-left: 10px !important;
}
.pll,
.phl,
.pal {
  padding-left: 20px !important;
}
.plxl,
.phxl,
.paxl {
  padding-left: 30px !important;
}
.plxxl,
.phxxl,
.paxxl {
  padding-left: 40px !important;
}
.mtn,
.mvn,
.man {
  margin-top: 0px !important;
}
.mtx,
.mvx,
.max {
  margin-top: 3px !important;
}
.mts,
.mvs,
.mas {
  margin-top: 5px !important;
}
.mtm,
.mvm,
.mam {
  margin-top: 10px !important;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px !important;
}
.mtxl,
.mvxl,
.maxl {
  margin-top: 30px !important;
}
.mtxxl,
.mvxxl,
.maxxl {
  margin-top: 40px !important;
}
.mrn,
.mhn,
.man {
  margin-right: 0px !important;
}
.mrx,
.mhx,
.max {
  margin-right: 3px !important;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px !important;
}
.mrm,
.mhm,
.mam {
  margin-right: 10px !important;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px !important;
}
.mrxl,
.mhxl,
.maxl {
  margin-right: 30px !important;
}
.mrxxl,
.mhxxl,
.maxxl {
  margin-right: 40px !important;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0px !important;
}
.mbx,
.mvx,
.max {
  margin-bottom: 3px !important;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px !important;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 10px !important;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px !important;
}
.mbxl,
.mvxl,
.maxl {
  margin-bottom: 30px !important;
}
.mbxxl,
.mvxxl,
.maxxl {
  margin-bottom: 40px !important;
}
.mln,
.mhn,
.man {
  margin-left: 0px !important;
}
.mlx,
.mhx,
.max {
  margin-left: 3px !important;
}
.mls,
.mhs,
.mas {
  margin-left: 5px !important;
}
.mlm,
.mhm,
.mam {
  margin-left: 10px !important;
}
.mll,
.mhl,
.mal {
  margin-left: 20px !important;
}
.mlxl,
.mhxl,
.maxl {
  margin-left: 30px !important;
}
.mlxxl,
.mhxxl,
.maxxl {
  margin-left: 40px !important;
}
.pace .pace-progress {
  background-color: #0797e0;
}
.legendColorBox {
  padding: 3px 0;
}
.legendColorBox div {
  border-radius: 50%;
  margin-right: 5px;
}
.legendColorBox div div {
  margin-right: 0;
}
.ui-state-default {
  border: 0;
  background: #0797e0;
  color: #ffffff;
}
.ui-widget-content {
  background: #ffffff;
  border: 1px solid #e5e5e5;
}
.ui-widget-content .ui-state-default {
  border: 0;
  background: #0797e0;
  color: #ffffff;
  cursor: pointer;
}
.ui-widget-content .ui-state-default:hover,
.ui-widget-content .ui-state-default:focus {
  background: #d75252;
}
.ui-widget-header {
  background: #0797e0;
}
.ui-widget-header .ui-state-default {
  border: 0;
  background: #0797e0;
  color: #ffffff;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 3px solid #fefefe;
}
.ui-slider.ui-slider-horizontal .ui-slider-handle {
  top: -0.9em;
}
.ui-slider.ui-slider-vertical .ui-slider-handle {
  left: -0.85em;
}
#slider-multi span {
  height: 120px;
  float: left;
  margin: 20px;
}
.ui-slider-horizontal {
  height: 0.45em;
}
.ui-slider-vertical {
  width: 0.45em;
}
.example-val:before {
  content: "Value: ";
  font-weight: bold;
}
.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-diapason,
.irs-slider {
  background: #E5E5E5;
}
.irs-slider {
  width: 1.5em;
  height: 1.5em;
  top: 19px;
  border: 1px solid #fefefe;
  background: #777;
  border-radius: 50%;
}
.irs-diapason {
  background: #0797e0;
}
.irs {
  height: 40px;
}
.irs-with-grid {
  height: 60px;
}
.irs-line {
  height: 8px;
  top: 25px;
}
.irs-line-left {
  height: 8px;
}
.irs-line-mid {
  height: 8px;
}
.irs-line-right {
  height: 8px;
}
.irs-diapason {
  height: 8px;
  top: 25px;
}
.irs-min,
.irs-max {
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 3px;
  background: rgba(0, 0, 0, 0.1);
}
.lt-ie9 .irs-min,
.lt-ie9 .irs-max {
  background: #ccc;
}
.irs-from,
.irs-to,
.irs-single {
  color: #fff;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 3px;
  background: rgba(0, 0, 0, 0.3);
}
.lt-ie9 .irs-from,
.lt-ie9 .irs-to,
.lt-ie9 .irs-single {
  background: #999;
}
.irs-grid-pol {
  background: #999999;
}
.irs-grid-text {
  color: #999999;
}
.jquery-notific8-message {
  font-size: 13px;
}
[class*="jquery-notific8"],
[class*="jquery-notific8"]:after,
[class*="jquery-notific8"]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.right .jquery-notific8-close-sticky span,
.left .jquery-notific8-close-sticky span {
  font-size: 10px;
}
.jquery-notific8-heading {
  font-weight: 300;
  font-size: 16px;
}
.colors {
  clear: both;
  padding: 24px 0 9px;
}
.skin-line .colors {
  padding-top: 28px;
}
.colors strong {
  float: left;
  line-height: 20px;
  margin-right: 20px;
}
.colors li {
  position: relative;
  float: left;
  width: 16px;
  height: 16px;
  margin: 2px 1px 0 0;
  background: #000;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
.colors li:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}
.colors li.active {
  height: 20px;
  margin-top: 0;
  filter: alpha(opacity=75);
  opacity: 0.75;
}
.colors li.red {
  background: #d54e21;
}
.colors li.green {
  background: #78a300;
}
.colors li.blue {
  background: #0e76a8;
}
.colors li.aero {
  background: #9cc2cb;
}
.colors li.grey {
  background: #73716e;
}
.colors li.orange {
  background: #ff7700;
}
.colors li.yellow {
  background: #ffcc00;
}
.colors li.pink {
  background: #ff66b5;
}
.colors li.purple {
  background: #6a5a8c;
}
.sticky-header {
  z-index: 999;
}
.slimScrollDiv {
  float: left;
}
.slimScrollRail {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.table tbody tr.calendar-month-header:first-child th {
  border-top: 0;
  background: #0797e0;
  color: #ffffff;
  padding: 12px 0;
}
.table tbody tr.calendar-month-header:first-child th .calendar-month-navigation {
  padding-top: 0;
}
.table tbody tr.calendar-month-header:first-child th span {
  padding-bottom: 0;
}
.table tbody tr td {
  border-top: 1px solid #efefef;
  vertical-align: middle;
}
.ticker-wrapper.has-js {
  margin: 0;
  padding: 0;
  float: left;
  background: transparent;
  font-size: 13px;
}
.ticker {
  display: block;
  position: relative;
  overflow: hidden;
  background: transparent;
  margin: 0;
  padding: 0;
}
.ticker-title {
  background-color: transparent;
}
.ticker-content {
  color: #ffffff;
  background: transparent;
  font-weight: normal;
  padding-top: 8px;
}
.ticker-content a {
  color: #999999;
}
.ticker-content a:hover,
.ticker-content a:focus {
  color: #999999;
  text-decoration: none;
}
.ticker-swipe {
  width: 100%;
  height: 42px;
  background: #1E1E1E;
}
.ticker-swipe span {
  margin-left: 1px;
  background-color: transparent;
  border-bottom: 3px solid #999999;
  height: 21px;
  width: 7px;
  display: block;
}
.news-update-box {
  float: left;
  padding: 9px 20px;
  line-height: 30px;
}
.introjs-helperLayer {
  background-color: rgba(255, 255, 255, 0.5);
}
.introjs-fixParent {
  z-index: auto !important;
  opacity: 1.0 !important;
  position: absolute !important;
}
.introjs-helperNumberLayer {
  line-height: 13px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #999999;
  box-shadow: none;
  outline: 0 none;
}
a:focus,
.btn:focus {
  outline: 0 !important;
}
.img-circle {
  border-radius: 50% !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
}
.note {
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 3px solid #e5e5e5;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.note h1,
.note h2,
.note h3,
.note h4 {
  margin-top: 0;
}
.note p:last-child {
  margin-bottom: 0;
}
.note code,
.note .highlight {
  background-color: #fff;
}
.note-success {
  border-color: #5cb85c;
  background: #dff0d8;
}
.note-success .box-heading {
  color: #5cb85c;
}
.note-warning {
  border-color: #f0ad4e;
  background: #fcf8e3;
}
.note-warning .box-heading {
  color: #f0ad4e;
}
.note-info {
  border-color: #5bc0de;
  background: #d9edf7;
}
.note-info .box-heading {
  color: #5bc0de;
}
.note-danger {
  border-color: #d9534f;
  background: #f2dede;
}
.note-danger .box-heading {
  color: #d9534f;
}
.pagination {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.pagination li a {
  border-color: #e5e5e5;
}
.pagination li span {
  border-right: #e5e5e5;
}
.pagination li.active a {
  border-color: #0797e0;
}
.pagination li.active span {
  border-color: #0797e0;
}
.pagination li:first-child a {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.pagination li:first-child span {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.pagination li:last-child a {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.pagination li:last-child span {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.badge {
  font-size: 11px !important;
  font-weight: 300;
  height: 18px;
  padding: 3px 6px 3px 6px;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important;
  text-shadow: none !important;
  text-align: center;
  vertical-align: middle;
  background-color: #bcbcbc;
}
.label {
  font-size: 11px;
  font-weight: 300;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.badge-default,
.label-default {
  background-color: #999 !important;
}
.badge-primary,
.label-primary {
  background-color: #0797e0 !important;
}
.badge-red,
.label-red {
  background-color: #bf4346 !important;
}
.badge-orange,
.label-orange {
  background-color: #e9662c !important;
}
.badge-green,
.label-green {
  background-color: #488c6c !important;
}
.badge-yellow,
.label-yellow {
  background-color: #f2994b !important;
}
.badge-blue,
.label-blue {
  background-color: #0a819c !important;
}
.badge-violet,
.label-violet {
  background-color: #9351ad !important;
}
.badge-pink,
.label-pink {
  background-color: #bf3773 !important;
}
.badge-grey,
.label-grey {
  background-color: #4b5d67 !important;
}
.badge-dark,
.label-dark {
  background-color: #594857 !important;
}
.label-success,
.badge-success {
  background-color: #5cb85c;
  background-image: none !important;
}
.label-warning,
.badge-warning {
  background-color: #f0ad4e;
  background-image: none !important;
}
.label-danger,
.badge-danger {
  background-color: #d9534f;
  background-image: none !important;
}
.label-info,
.badge-info {
  background-color: #5bc0de;
  background-image: none !important;
}
.nav.nav-pills > li > a > .badge {
  margin-top: -2px;
}
.nav.nav-stacked > li > a > .badge {
  margin-top: 1px;
  margin-bottom: 0px;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #0797e0;
}
.pagination li.active a {
  color: #FFFFFF;
  background: #0797e0;
  z-index: 2;
  cursor: default;
}
.pagination li.active a:hover,
.pagination li.active a:focus {
  color: #FFFFFF;
  background: #0797e0;
  z-index: 2;
  cursor: default;
}
.pagination li.active span {
  color: #FFFFFF;
  background: #0797e0;
  z-index: 2;
  cursor: default;
}
.pagination li.active span:hover,
.pagination li.active span:focus {
  color: #FFFFFF;
  background: #0797e0;
  z-index: 2;
  cursor: default;
}
.pagination li a {
  color: #0797e0;
}
.panel {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
   border: 1px solid #e8e8e8;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.panel > .panel-heading, .panel-heading{
  font-size: 18px;
  padding: 7px 15px;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-color: #e5e5e5 !important;
  color: #444;
}
.panel > .panel-footer {
  font-size: 18px;
  padding: 7px 15px;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.panel.panel-primary {
  border-color: #0797e0;
}
.panel.panel-primary > .panel-heading {
  color: #FFFFFF;
  background: #0797e0;
  border-color: #0797e0 !important;
}
.panel.panel-primary > .panel-footer {
  color: #FFFFFF;
  background: #0797e0;
  border-color: #0797e0 !important;
}
.panel.panel-red {
  border-color: #bf4346;
}
.panel.panel-red > .panel-heading {
  color: #FFFFFF;
  background: #bf4346;
  border-color: #bf4346 !important;
}
.panel.panel-red > .panel-footer {
  color: #FFFFFF;
  background: #bf4346;
  border-color: #bf4346 !important;
}
.panel.panel-orange {
  border-color: #e9662c;
}
.panel.panel-orange > .panel-heading {
  color: #FFFFFF;
  background: #e9662c;
  border-color: #e9662c !important;
}
.panel.panel-orange > .panel-footer {
  color: #FFFFFF;
  background: #e9662c;
  border-color: #e9662c !important;
}
.panel.panel-green {
  border-color: #488c6c;
}
.panel.panel-green > .panel-heading {
  color: #FFFFFF;
  background: #488c6c;
  border-color: #488c6c !important;
}
.panel.panel-green > .panel-footer {
  color: #FFFFFF;
  background: #488c6c;
  border-color: #488c6c !important;
}
.panel.panel-yellow {
  border-color: #f2994b;
}
.panel.panel-yellow > .panel-heading {
  color: #FFFFFF;
  background: #f2994b;
  border-color: #f2994b !important;
}
.panel.panel-yellow > .panel-footer {
  color: #FFFFFF;
  background: #f2994b;
  border-color: #f2994b !important;
}
.panel.panel-blue {
  background: #f2f5f6; /* Old browsers */
background: -moz-linear-gradient(top, #f2f5f6 0%, #c8d7dc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2f5f6 0%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2f5f6 0%,#c8d7dc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f2f5f6 0%,#c8d7dc 100%); /* IE10+ */
background: linear-gradient(to bottom, #f2f5f6 0%,#c8d7dc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

  border-color: #d8d8d8;
}
.panel.panel-blue > .panel-heading {
  color: #FFFFFF;
  background: #0a819c;
  border-color: #0a819c !important;
}
.panel.panel-blue > .panel-footer {
  color: #FFFFFF;
  background: #0a819c;
  border-color: #0a819c !important;
}
.panel.panel-pink {
  border-color: #bf3773;
}
.panel.panel-pink > .panel-heading {
  color: #FFFFFF;
  background: #bf3773;
  border-color: #bf3773 !important;
}
.panel.panel-pink > .panel-footer {
  color: #FFFFFF;
  background: #bf3773;
  border-color: #bf3773 !important;
}
.panel.panel-violet {
  border-color: #9351ad;
}
.panel.panel-violet > .panel-heading {
  color: #FFFFFF;
  background: #9351ad;
  border-color: #9351ad !important;
}
.panel.panel-violet > .panel-footer {
  color: #FFFFFF;
  background: #9351ad;
  border-color: #9351ad !important;
}
.panel.panel-grey {
  border-color: #4b5d67;
}
.panel.panel-grey > .panel-heading {
  color: #FFFFFF;
  background: #4b5d67;
  border-color: #4b5d67 !important;
}
.panel.panel-grey > .panel-footer {
  color: #FFFFFF;
  background: #4b5d67;
  border-color: #4b5d67 !important;
}
.panel.panel-dark {
  border-color: #594857;
}
.panel.panel-dark > .panel-heading {
  color: #FFFFFF;
  background: #594857;
  border-color: #594857 !important;
}
.panel.panel-dark > .panel-footer {
  color: #FFFFFF;
  background: #594857;
  border-color: #594857 !important;
}
.panel.panel-white {
  border-color: #efefef;
}
.panel.panel-white > .panel-heading {
  border-bottom: 1px solid #faf9fb;
  color: #999999;
  background: #FFFFFF;
}
.panel.panel-white > .panel-footer {
  border-top: 1px solid #faf9fb;
  color: #999999;
  background: #FFFFFF;
}

[class^="fa-"],
[class^="glyphicon-"],
[class^="icon-"],
[class*=" fa-"],
[class*=" glyphicon-"],
[class*=" icon-"] {
  display: inline-block;
  margin-top: 1px;
  font-size: 14px;
  *margin-right: .3em;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
}
li [class^="fa-"],
li [class^="glyphicon-"],
li [class^="icon-"],
li [class*=" fa-"],
li [class*=" glyphicon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="glyphicon-"],
li [class*=" glyphicon-"] {
  top: 2px;
}
li [class^="icon-"],
li [class*=" icon-"] {
  top: 1px;
  position: relative;
}
li [class^="fa-"].icon-large,
li [class^="glyphicon-"].icon-large,
li [class^="icon-"].icon-large,
li [class*=" fa-"].icon-large,
li [class*=" glyphicon-"].icon-large,
li [class*=" icon-"].icon-large {
  width: 1.5625em;
}
.nav-pills li.active a {
  background: #dc6767;
}
.nav-pills li.active a:hover,
.nav-pills li.active a:focus {
  background: #dc6767;
}
.nav-pills li a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.list-group .list-group-item {
  border-color: #e5e5e5;
  color: #999999;
}
.list-group .list-group-item.active {
  background: #0797e0;
  border-color: #0797e0;
}
.list-group .list-group-item.active:hover,
.list-group .list-group-item.active:focus {
  background: #0797e0;
  border-color: #0797e0;
}
.list-group .list-group-item:first-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.list-group .list-group-item:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.nav-tabs {
  border-color: #e5e5e5 !important;
}
.nav-tabs li a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.tab-content {
  background: #fff;
  padding: 20px 15px;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: #e5e5e5 !important;
  border-top: 0;
}
.tabbable:before {
  display: table;
  line-height: 0;
  content: "";
}
.tabbable:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.tabbable.tabs-left .nav-tabs {
  float: left;
  display: inline-block;
  border-bottom: 0;
}
.tabbable.tabs-left .nav-tabs > li {
  float: none;
}
.tabbable.tabs-left .nav-tabs > li.active > a,
.tabbable.tabs-left .nav-tabs > li:hover > a,
.tabbable.tabs-left .nav-tabs > li:focus > a {
  border: 1px solid;
  border-color: #e5e5e5 !important;
  border-right: 0;
}
.tabbable.tabs-left .nav-tabs > li > a {
  border-right: 0;
  min-width: 74px;
  margin-bottom: 3px;
  margin-right: -1px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.tabbable.tabs-left .tab-content {
  overflow: auto;
  border: 1px solid;
  border-color: #e5e5e5 !important;
}
.tabbable.tabs-right .nav-tabs {
  float: right;
  display: inline-block;
  border-bottom: 0;
}
.tabbable.tabs-right .nav-tabs > li {
  float: none;
}
.tabbable.tabs-right .nav-tabs > li.active > a,
.tabbable.tabs-right .nav-tabs > li:hover > a,
.tabbable.tabs-right .nav-tabs > li:focus > a {
  border: 1px solid;
  border-color: #e5e5e5 !important;
  border-left: 0;
}
.tabbable.tabs-right .nav-tabs > li > a {
  border-left: 0;
  min-width: 74px;
  margin-bottom: 3px;
  margin-left: -1px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.tabbable.tabs-right .tab-content {
  overflow: auto;
  border: 1px solid;
  border-color: #e5e5e5 !important;
}
.tabbable.tabs-below .nav-tabs {
  margin-bottom: 20px !important;
  border: 0;
}
.tabbable.tabs-below .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabbable.tabs-below .nav-tabs > li.active > a {
  border: 1px solid;
  border-color: #e5e5e5 !important;
  border-top: 0;
}
.tabbable.tabs-below .nav-tabs > li > a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.tabbable.tabs-below .tab-content {
  overflow: auto;
  margin-bottom: 0 !important;
  border: 1px solid;
  border-color: #e5e5e5 !important;
}
.progress {
  position: relative;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.progress.progress-xs {
  height: 5px;
  margin-top: 5px;
}
.progress.progress-sm {
  height: 11px;
  margin-top: 5px;
}
.progress.progress-lg {
  height: 25px;
}
.progress .progress-bar {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #0797e0;
}
.progress .progress-bar.progress-bar-success {
  background-color: #5cb85c !important;
}
.progress .progress-bar.progress-bar-warning {
  background-color: #f0ad4e !important;
}
.progress .progress-bar.progress-bar-info {
  background-color: #5bc0de !important;
}
.progress .progress-bar.progress-bar-danger {
  background-color: #d9534f !important;
}
.progress .progress-bar.progress-bar-red {
  background-color: #bf4346 !important;
}
.progress .progress-bar.progress-bar-orange {
  background-color: #e9662c !important;
}
.progress .progress-bar.progress-bar-green {
  background-color: #488c6c !important;
}
.progress .progress-bar.progress-bar-yellow {
  background-color: #f2994b !important;
}
.progress .progress-bar.progress-bar-blue {
  background-color: #0a819c !important;
}
.progress .progress-bar.progress-bar-violet {
  background-color: #9351ad !important;
}
.progress .progress-bar.progress-bar-pink {
  background-color: #bf3773 !important;
}
.progress .progress-bar.progress-bar-grey {
  background-color: #4b5d67 !important;
}
.progress .progress-bar.progress-bar-dark {
  background-color: #594857 !important;
}
.progress .progress-bar.progress-bar-white {
  background-color: #ffffff !important;
}
.progress .progress-bar.six-sec-ease-in-out {
  -webkit-transition: width 6s ease-in-out;
  -moz-transition: width 6s ease-in-out;
  -ms-transition: width 6s ease-in-out;
  -o-transition: width 6s ease-in-out;
  transition: width 6s ease-in-out;
}
.progress.wide {
  width: 60px;
  height: 150px;
}
.progress.vertical.progress-xs {
  width: 10px;
  margin-top: 0;
}
.progress.vertical.progress-sm {
  width: 20px;
  margin-top: 0;
}
.progress.vertical.progress-lg {
  width: 70px;
}

.state-success .form-control {
  border-color: #7edc7f !important;
}
.state-warning .form-control {
  border-color: #dcb359 !important;
}
.state-error .form-control {
  border-color: #db4c4a !important;
}
.state-success em {
  color: #7edc7f !important;
  margin-top: 5px;
  display: block;
}
.state-warning em {
  color: #dcb359 !important;
  margin-top: 5px;
  display: block;
}
.state-error em {
  color: #db4c4a !important;
  margin-top: 5px;
  display: block;
}
.state-success input,
.state-success select,
.state-success textarea {
  background: #dff0d8 !important;
}
.state-warning input,
.state-warning select,
.state-warning textarea {
  background: #fcf8e3 !important; 
}
.state-error input,
.state-error select,
.state-error textarea {
  /*background: #f2dede !important;*/
}


.wait {
  position: relative;
  background: url("../../images/icons/loading.gif") center no-repeat !important;
}



.fixed-header {
  top: 0;
  position: fixed;
  width: auto;
  display: none;
  border: none;
  z-index: 999;
}
.page-header-breadcrumb {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}


.breadcrumb {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.navbar {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}



.slimScrollBar {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.input-icon {
  position: relative;
}
.input-icon input {
  padding-left: 33px !important;
  color: #999999;
}
.input-icon i {
  color: #999999;
  display: block;
  position: absolute;
  margin: 10px 2px 4px 10px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}
.input-icon.right input {
  padding-left: 12px !important;
  padding-right: 33px !important;
}
.input-icon.right i {
  right: 8px;
  float: right;
}
.has-success .input-icon i {
  color: #5cb85c;
}
.has-warning .input-icon i {
  color: #f0ad4e;
}
.has-error .input-icon i {
  color: #d9534f;
}
.login-layout .logo {
    margin:auto;
    margin-bottom: 5px;
    text-shadow: 1px -1px 0 #fff;

}

.mgbt-xs-5 {
    margin-bottom: 5px !important;
}

/* custom styles */

.work-thumb{

height: 50px;
width:100px;
}

#workList > tr > td > a{
  color: purple;
}