*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.no-padding{
    padding: 0px !important;
}

.no-left{
    padding-left: 0px;
}

.no-right{
    padding-right: 0px;
}

/* index page */

.site-title a {
    font-size: 24px;
    color:#202121;
    margin-left: 26px;
    text-decoration: none;
}

body{
    font-family: Helvetica,arial,sans-serif;
    background: #f4f7f6;
    font-weight: normal;
    line-height: 1.6em;
    font-size: 12px;
    font-family: "calluna";
    font-size: 15px;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}
.wrapper{
background: transparent; 
min-height: 100%;
padding: 0px;
margin-bottom: 2%;
}

.header-box{
    height: 12%;
    background:#f4f7f6;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 4%;
    margin-bottom: 4%;

    position: relative;
    color:#a4a4a4;;
}

.main-nav ul{
    list-style: none;
    float: right;
}
.main-nav ul .nav-item{
    float: left;
    margin-left: 30px;
}

/* nav anchor tags */

.nav-item >a{
    color:   #202121;
    font-size: 19px;
    text-decoration: none;
}

.nav-item > a:hover{
    color: red;
}

/* index body content */

.project{
    position: relative;
    height: 320px;
    width: 32%;
    float: left;
    cursor: pointer;
    margin-bottom:9%;
    margin-left: 1.3%;
    padding: 0px;
    text-decoration: none !important;
}

.project img{
    height: 100%;
    width: 100%;
    opacity: 1;
    padding: 0px;
    display: block;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color:#e6eaea;
}
.overlay,.work-title, .project img{
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.project:hover .overlay{
  opacity: 0.4;
}


.work-title{
  color: #202121;
  font-size: 16px;
  text-align: center;
  margin:auto;
    background: #fff;
    padding: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


/* footer */

.footer{
    height: 50px;
    padding: 20px;
    padding-bottom: 40px;
    background: #f4f7f6;
    position: relative;
}
.footer-nav ul{
    list-style: none;
}

.footer-nav ul .footer-nav-item{
    float: left;
    margin-right: 26px;
}



.footer-nav ul .footer-nav-item a{
    text-decoration: none;
    color:black;
}


/* contact form */

.contact-box{
    padding: 3%;
    background: #fff;
}

.contact-form .input-group{
    margin-bottom: 2.5%;
}

.contact-input, .contact-message{
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
}

.contact-message:focus{
     background: #fff;
}

.contact-input:focus{
    background: #fff;
}

.submit-contact{
    padding: 10px 0px;
    background: #4c4c4c;
    color: #fff;
    border: none;
    border-radius: 2px;
}

.submit-contact:hover{
    background: #666666;
}

.input-group label{
    color: #463f3f;
    font-size: 15px;
    font-family: "calluna";
}

/* login */

.login-box{
    margin-top: 3%;
    margin-left: 25%;
}

/* view work page */

.content-box{
    margin-top: 2.7%; 
}

.featured-image-box{
     margin-top: 2.7%; 
}
.featured-image{
    height: 50%;
}

#notify{
    font-size: 15px;
    padding: 2%;
    margin-bottom: 2%;
    border-radius:3px;
    display: none;
}

.success{
    color: #3c763d !important;
    background-color: #dff0d8 !important;
}

/* skill part */

.skill-box{
    background:#f4f7f6;
    padding: 2%;
    margin-top: 5%;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:3px;
    position: relative;
}

.skill-thumb{
    height:70px;
    width:70px;
    border-radius: 100%;
}
.skill-description{
    padding:10px;
}


/*about */

.about-box{
    background: #fff;
    margin-top: 2%;
}
.content-box-about{
    padding-bottom: 4%;
    padding-top: 4%;
    min-height:100%;
}
.about-me{
    line-height: 27px;
}

.about-image-header {
    height: 8%;
    margin-top: -4%;
    background: #f4f7f6;
}
.about-image-box{
    margin:auto;
    display: inline-block;
    position: absolute;
    margin-left: 6.5%;
    margin-top: 1%;

}
.about-image-box .about-image{
    height:120px;
    width:120px;
    border-radius: 100%;
    border:solid 4px #fff;
}

