*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.no-padding{
    padding: 0px !important;
}

.no-left{
    padding-left: 0px;
}

.no-right{
    padding-right: 0px;
}

/* index page */

.site-title a {
    font-size: 24px;
    color: black;
    margin-left: 26px;
    text-decoration: none;
}

body{
    font-family: Helvetica,arial,sans-serif;
    background: #faf9f4;
    font-weight: normal;
    line-height: 1.6em;
    font-size: 12px;
    font-family: "calluna";
    font-size: 15px;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}
.wrapper{
background: transparent; 
min-height: 100%;
padding: 0px;
margin-bottom: 4%;
}

.header-box{
  height: 12%;
    background: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: solid 1px #bbb;
}

.main-nav ul{
    list-style: none;
    float: right;
}
.main-nav ul .nav-item{
    float: left;
    margin-right: 30px;

}

/* nav anchor tags */

.nav-item >a{
    color: #111;
    font-size: 19px;
    text-decoration: none;
}

.nav-item > a:hover{
    color: red;
}

/* index body content */

.project{
    height: 270px;
    float: left;
    margin-left: 2.2%;
    margin-top: 2%;
    width: 22.0873786407767%;
    cursor: pointer;
  
}

.project img{
    height: 100%;
    width: 100%;
}



/* footer */

.footer{
    height: 140px;
    padding-top: 20px;
    padding-bottom: 0px;
    background: #faf9f4;
    border-top: solid 1px #bbb;
    position: relative;
}
.footer-nav ul{
    list-style: none;
}

.footer-nav ul .footer-nav-item{
    float: left;
    margin-right: 26px;
}



.footer-nav ul .footer-nav-item a{
    text-decoration: none;
    color:black;
}

/*about */

.about-image-box{
    height: 20%;
    background: #eeeee9;
    
}

.about-me{
    line-height: 27px;
}

/* contact form */

.contact-box{
    padding: 3%;
}

.contact-form .input-group{
    margin-bottom: 2.5%;
}

.contact-input{
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
}

.contact-message{
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
}
.contact-message:focus{
    width: 100;
}

.contact-input:focus{
    background: #fff;
}

.submit-contact{
    padding: 10px 0px;
    background: #4c4c4c;
    color: #fff;
    border: none;
    border-radius: 2px;
}

.submit-contact:hover{
    background: #666666;
}

.input-group label{
    color: #463f3f;
    font-size: 15px;
    font-family: "calluna";
}

/* landing page */

.work-title{
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: #404040;
}

